page-home {
    #circle{
        button:not(#meh){
            border-radius: 25px;
            float: none;
        }
    }
/*
    .dawn{
  //      background: linear-gradient(160deg, rgb(80, 160, 192), rgb(247, 221, 78));
        background: url('../../assets/imgs/Sunrise.jpg');
        background-position: right;
        background-size: cover;
    }
    .day{
  //      background: linear-gradient(skyblue, royalblue);
        background: url('../../assets/imgs/Midday.jpg');
    }
    .midday{
   //     background: linear-gradient(royalblue, skyblue);
        background: url('../../assets/imgs/Midday.jpg');
        background-size: cover;
    }
    .evening{
 //       background: linear-gradient(royalblue, purple);
//        background: linear-gradient(royalblue, pink);
        background: url('../../assets/imgs/Sunset.jpg');
        background-position: center;
        background-size: cover;
    }
    .night{   
 //       background: linear-gradient(black, midnightblue);
        background: url('../../assets/imgs/Night.jpg');
        background-position: center;
        background-size: cover;
    }
    */
}
